@import './colors';

.slide-enter-active, .slide-leave-active {
    transition: all .3s ease-in-out;
}
.slide-enter, .slide-leave-to /* .slide-leave-active below version 2.1.8 */ {
    transform: translateX(100vw);
    opacity: 0;
} 


@mixin call-to-action($text) {
    @keyframes call-to-action {
        from {
            transform: initial;
        }

        20% {
            transform: translate3d(0, -2.5%, 0);
        }
        30% {
            transform: translate3d(-1%, -2%, 0);
        }
        40% {
            transform: translate3d(1%, -1.5%, 0);
        }
        50% {
            transform: translate3d(-1%, -1%, 0);
        }
        60% {
            transform: translate3d(1%, -0.5%, 0);
        }
        70% {
            transform: translate3d(-1%, 0, 0);
        }
        80% {
            transform: translate3d(1%, 0.5%, 0);
        }
        90% {
            transform: translate3d(-1%, 1%, 0);
        }

        to {
            transform: initial;
        }
    }
    &::after {
        content: $text;
        color: color(secondary);
    }
    animation: 3s call-to-action;
    border-color: color(secondary);
    border-style: solid;
    @include hoverable;
    background-color: whitesmoke;
}

@keyframes float-mysteriously {
    from {
        transform: initial;
    }

    25% {
        transform: translateY(-.5rem) rotate(-1deg);
    }

    50% {
        transform: translateY(-.5rem) rotate(1deg);
    }

    75% {
        transform: translateY(0) rotate(0deg);
    }

    to {
        transform: initial;
    }
}

@mixin float-mysteriously {
    animation: infinite 10s float-mysteriously;
}

@keyframes float-mysteriously-appear {
    from {
        opacity: 0;
        transform: initial;
    }

    25% {
        transform: translateY(-.5rem) rotate(-1deg);
    }

    50% {
        opacity: 1;
        transform: translateY(-.5rem) rotate(1deg);
    }

    75% {
        transform: translateY(0) rotate(0deg);
    }

    to {
        transform: initial;
    }
}

@mixin float-mysteriously-once {
    animation: 1.2s ease float-mysteriously-appear;
}

