@import "./include-media";
@import './colors';
@import './animations';

// variables
$gap: 1.5rem;
$primary-background-color: color(primary);
$input-height: 3rem;
$special-text-color: #42b983;

$navbar-height: 4rem;

$remaining-page: calc(100vh - #{$navbar-height});

$font-x-large: 1.6rem;
$font-large: 1.3rem;
$font-medium: 1rem;
$font-small: .85rem;
$font-x-small: .55rem;

@mixin grid-center {
  display: grid;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
}

@mixin grid-center-all {
  @include grid-center;
  justify-content: center;
  align-content: center;
}

@mixin vuetify-shadow {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}

@mixin neo-shadow($size) {
  $spread: $size;
  box-shadow:
          $size $size $spread 0 rgba(black, .06),
          -1*$size -1*$size $spread 0 rgba(white, .4);
}

@mixin app-box {
  @include vuetify-shadow;
  @include neo-shadow(6px);
  overflow: hidden;
  border-radius: $gap/3 !important;
  color: #2c3e50;
}

@mixin hoverable {
  cursor: pointer;
  transition: all .2s ease-in-out;
  &:hover {
    transform: rotate(2deg);
    opacity: .9;
  }
}

@mixin force-color($color) {
  @keyframes force-color {
    from {
      color: $color !important;
    }
    to {
      transform: translateX(-50%);
    }
  }

  animation: force-color 1s infinite;
}
